.pitch {
    height: 90vh;
	background-size: cover;
	background-position: center;
	border: 1px solid black;
	border-radius: 5px;
	margin: 25px 10px 30px 10px;
	background-color: #FFF;
}

.football {
	background-image: url(src/assets/football-pitch.jpg);

	&.endzone {
		background-image: url(src/assets/football-pitch-part.jpg);
	}
}

.basketball {
	background-image: url(src/assets/basketball-court.jpg);

	&.endzone {
		background-image: url(src/assets/basketball-court-part.jpg);
	}
}

.handball {
	background-image: url(src/assets/handball-court.png);

	&.endzone {
		background-image: url(src/assets/handball-court-part.png);
	}
}

.ice-hockey {
	background-image: url(src/assets/ice-hockey-rink.png);

	&.endzone {
		background-image: url(src/assets/ice-hockey-rink-part.png);
	}
}

.actions-container {
	height: 85vh;
	position: absolute;
	right: 10px;
	top: 0px;
	border-radius: 5px;
	width: 445px;
	border: 1px solid black;
	padding: 30px 20px;
	background: #FFF;
}

.mat-mini-fab {
	background: limegreen !important;
}

.mat-checkbox-checked .mat-checkbox-background {
	background: limegreen !important;
}