.pitch {
    height: 85vh;
	background-size: cover;
	background-position: center;
	border: 1px solid black;
	border-radius: 5px;
	margin: 25px 10px 30px 10px;
	background-color: #FFF;
}

.actions-container {
	height: 87vh;
	position: absolute;
	right: 10px;
	top: 0px;
	border-radius: 5px;
	width: 445px;
	border: 1px solid black;
	padding: 20px 20px;
	background: #FFF;
}

.mat-mini-fab {
	background: limegreen !important;
}

.mat-checkbox-checked .mat-checkbox-background {
	background: limegreen !important;
}