.pitch {
    height: 85vh;
	background-size: cover;
	background-position: center;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #FFF;
}

.arena-container {
	display: inline-block;
	margin: 0px 10px 10px 0px;
}

.actions-container {
	display: inline-block;
	vertical-align: top;
	height: 87vh;
	border-radius: 5px;
	width: 445px;
	border: 1px solid black;
	padding: 20px 20px;
	background: #FFF;
}

.tactic-container {
	position: absolute;
	margin: 0;
	right: 0;
	left: 0;
	display: flex;
	//align-items: center;
	justify-content: center;
}

.mat-mini-fab {
	background: limegreen !important;
}

.mat-checkbox-checked .mat-checkbox-background {
	background: limegreen !important;
}