.table-container {
    position: relative;

    table {
        border-spacing: 0px;
        margin: 0;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%);
        background: white;
        
        thead {
            
            th {
                padding: 20px 30px;
                min-width: 180px;
                font-size: 14px;
                font-weight: $semi-bold;
                color: rgba(#000, 0.6);
                border-bottom: 1px solid lightgray;
                text-align: left;
            }
        }

        tbody {
            
            tr {
                
                td {
                    padding: 20px 30px;
                    border-bottom: 1px solid lightgray;
                    font-size: 13px;
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: 2px 3px 8px darkgray;
                }
            }
        }
    }
}