.table-container {
    position: relative;
    padding: 80px 50px 20px;

    table {
        border-spacing: 0px;
        background: white;
        width: 100%;
        position: relative;
        
        thead {

            tr {
                height: 70px;

                th {
                    width: 13%;
                    padding: 0px 10px;
                    font-size: 14px;
                    font-weight: $semi-bold;
                    color: rgba(#000, 0.6);
                    border-bottom: 1px solid lightgray;
                    text-align: left;
                }

                th:first-child {
                    padding-left: 30px;
                }

                th:last-child {
                    width: 22px;
                }
            }

        }

        tbody {
            
            tr {
                height: 70px;
                
                td {
                    padding: 5px 10px;
                    border-bottom: 1px solid lightgray;
                    font-size: 13px;
                    width: 13%;
                }

                td:first-child {
                    padding-left: 30px;
                }

                td:last-child {
                    width: 22%;
                }

                &:hover {
                    box-shadow: 2px 3px 12px darkolivegreen;
                }
            }
        }
    }
}