<div style="position: relative;">

    <div class="pitch mat-elevation-z8" id="paper" [ngClass]="{
            'football': tactic && tactic.sportName === 'Football',
            'basketball': tactic && tactic.sportName === 'Basketball',
            'handball': tactic && tactic.sportName === 'Handball',
            'ice-hockey': tactic && tactic.sportName === 'Ice Hockey',
            'american-football': tactic && tactic.sportName === 'American Football',
            'futsal': tactic && tactic.sportName === 'Futsal',
            'floorball': tactic && tactic.sportName === 'Floorball',
            'rugby': tactic && tactic.sportName === 'Rugby',
            'waterpolo': tactic && tactic.sportName === 'Waterpolo',
            'lawn-hockey': tactic && tactic.sportName === 'Lawn Hockey',
            'endzone': tactic && tactic.pitchPart === 'Endzone'
        }"></div>

    <div class="actions-container mat-elevation-z8">
        <div *ngIf="tactic">
            <span style="margin-right: 5px;">Current frame: </span>
            <button mat-icon-button (click)="changeFrameDown()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            {{ tactic.frames.indexOf(currentFrame) + 1 }} / {{ tactic.frames.length }}
            <button mat-icon-button (click)="changeFrameUp()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            <button mat-button (click)="addFrame()">Add frame</button>
        </div>
        <div style="margin-top: 20px;">
            <span style="margin-right: 15px;">Show routes:</span>
            <mat-checkbox [(ngModel)]="showRoutes" (change)="changeShowRoutes()"></mat-checkbox>
        </div>
        <div>
            <button style="margin: 40px 0px 30px 330px;" mat-raised-button class="create-button">Save</button>
        </div>
    </div>
</div>