<div style="position: relative;">

        <div class="pitch mat-elevation-z8" id="paper" [ngClass]="{
            'football': model.sport === sports.football,
            'basketball': model.sport === sports.basketball,
            'handball': model.sport === sports.handball,
            'ice-hockey': model.sport === sports.iceHockey,
            'american-football': model.sport === sports.americanFootball,
            'endzone': model.pitchPart === pitchParts.endzone
        }"></div>
    
        <div class="actions-container mat-elevation-z8">
            <div>
                <mat-form-field style="margin-right: 20px;">
                    <mat-select placeholder="Select sport" [(ngModel)]="model.sport" (selectionChange)="changeSport()">
                        <mat-option [value]="sports.football">Football</mat-option>
                        <mat-option [value]="sports.basketball">Basketball</mat-option>
                        <mat-option [value]="sports.handball">Handball</mat-option>
                        <mat-option [value]="sports.iceHockey">Ice Hockey</mat-option>
                        <mat-option [value]="sports.americanFootball">American Football</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Select part" [(ngModel)]="model.pitchPart">
                        <mat-option [value]="pitchParts.full">Full</mat-option>
                        <mat-option [value]="pitchParts.endzone">Endzone</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field style="margin-right: 20px;">
                    <mat-select placeholder="Select own team color" [(ngModel)]="currentFrame.ownTeam.color"
                        (selectionChange)="changeOwnTeamColor()">
                        <mat-option [value]="'red'">Red</mat-option>
                        <mat-option [value]="'blue'">Blue</mat-option>
                        <mat-option [value]="'green'">Green</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Select opponent team color" [(ngModel)]="currentFrame.opponentTeam.color"
                        (selectionChange)="changeOpponentTeamColor()">
                        <mat-option [value]="'red'">Red</mat-option>
                        <mat-option [value]="'blue'">Blue</mat-option>
                        <mat-option [value]="'green'">Green</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field style="margin-right: 20px;">
                    <mat-select placeholder="Select team" [(ngModel)]="formationTeam">
                        <mat-option [value]="ownTeam">Own team</mat-option>
                        <mat-option [value]="opponentTeam">Opponent team</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="margin-right: 20px;">
                    <mat-select placeholder="Select formation" [(ngModel)]="formation">
                        <ng-container *ngFor="let form of formations">
                            <mat-option *ngIf="form.sport === model.sport" [value]="form">{{ form.name }}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <button mat-icon-button (click)="applyFormation()">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
            <div style="margin-top: 20px;">
                <span style="margin-right: 15px;">Ball visible:</span>
                <mat-checkbox [(ngModel)]="currentFrame.ball.visible" (change)="changeBallVisible()"></mat-checkbox>
            </div>
            <div *ngIf="model.sport === sports.handball || model.sport === sports.iceHockey" style="margin-top: 20px;">
                <span style="margin-right: 15px;">Own empty goal:</span>
                <mat-checkbox [(ngModel)]="currentFrame.ownTeam.emptyGoal" (change)="changeOwnEmptyGoal()"></mat-checkbox>
            </div>
            <div *ngIf="model.sport === sports.handball || model.sport === sports.iceHockey" style="margin-top: 20px;">
                <span style="margin-right: 15px;">Opponent empty goal:</span>
                <mat-checkbox [(ngModel)]="currentFrame.opponentTeam.emptyGoal" (change)="changeOpponentEmptyGoal()"></mat-checkbox>
            </div>
            <div style="margin-top: 20px;">
                <span style="margin-right: 47px;">Own players:</span>
                <button mat-icon-button (click)="removeOwnPlayer()">
                    <mat-icon>remove</mat-icon>
                </button>
                {{ currentFrame.ownTeam.numberOfPlayers }}
                <button mat-icon-button (click)="addOwnPlayer()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div>
                <span style="margin-right: 15px;">Opponent players:</span>
                <button mat-icon-button (click)="removeOpponentPlayer()">
                    <mat-icon>remove</mat-icon>
                </button>
                {{ currentFrame.opponentTeam.numberOfPlayers }}
                <button mat-icon-button (click)="addOpponentPlayer()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div style="margin-top: 20px;">
                <span style="margin-right: 15px;">Players' size:</span>
                <button mat-mini-fab style="margin-right: 10px;" (click)="decreasePlayerSize()">
                    <mat-icon>remove</mat-icon>
                </button>
                <button mat-mini-fab style="margin-right: 40px;" (click)="increasePlayerSize()">
                    <mat-icon>add</mat-icon>
                </button>
                <span style="margin-right: 15px;">Ball's size:</span>
                <button mat-mini-fab style="margin-right: 10px;" (click)="decreaseBallSize()">
                    <mat-icon>remove</mat-icon>
                </button>
                <button mat-mini-fab (click)="increaseBallSize()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div>
                <button style="margin: 40px 0px 30px 330px;" mat-raised-button class="create-button">Create</button>
            </div>
        </div>
    </div>