<div class="table-container">
    <button mat-raised-button class="new-tactic" (click)="newTactic()">New tactic</button>
    <table class="mat-elevation-z8">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sport</th>
                <th>Arena part</th>
                <th>Own players</th>
                <th>Opponent players</th>
                <th>Empty goal</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list.items" (click)="navigateEdit(item.id)">
                <td>{{ item.name }}</td>
                <td>{{ item.sport }}</td>
                <td>{{ item.arenaPart }}</td>
                <td>{{ item.ownPlayers }}</td>
                <td>{{ item.opponentPlayers }}</td>
                <td><mat-icon>{{ item.emptyGoal ? 'check_box' : 'check_box_outline_blank' }}</mat-icon></td>
            </tr>
        </tbody>
    </table>
</div>