<div class="table-container">
    <button mat-raised-button class="new-tactic" (click)="newTactic()">New tactic</button>
    <table class="mat-elevation-z8">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sport</th>
                <th>Arena part</th>
                <th>Own players</th>
                <th>Opponent players</th>
                <th>Empty goal</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>a</td>
                <td>a</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>a</td>
                <td>a</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>