<div style="text-align: center;">
    <div>
        <img class="main-image" src="assets/main/american-football.PNG">
        <img class="main-image" src="assets/main/basketball.PNG">
        <img class="main-image" src="assets/main/floorball.PNG">
        <img class="main-image" src="assets/main/football.PNG">
    </div>
    <div>
        <img class="main-image" src="assets/main/futsal.PNG">
        <div class="main-image" style="vertical-align: top; margin: 10px 80px; width: 580px; padding-top: 60px;">
            <span style="font-weight: bold; font-size: 45px; color: whitesmoke;
                text-shadow: 2px 3px 12px black;">Manage Your Team!</span>
        </div>
        <img class="main-image" src="assets/main/handball.PNG">
    </div>
    <div>
        <img class="main-image" src="assets/main/ice-hockey.PNG">
        <img class="main-image" src="assets/main/lawn-hockey.PNG">
        <img class="main-image" src="assets/main/rugby.PNG">
        <img class="main-image" src="assets/main/waterpolo.PNG">
    </div>
</div>